* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    max-width: 1440px;
    margin: 0 auto;
    font-family: "Montserrat", Arial, sans-serif;
    background-color: #F2F2F0;;
}

.main__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: white;
    border: 1px solid red;
}